<ion-header>

  <ion-navbar>
    <ion-title>updates</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding class="update_content">
   
    <ion-spinner class="spinnerCenter" *ngIf="!Nstatus"></ion-spinner>
 
    <!-- Notice Board -->


  <!-- <ion-card (click)="start()"> -->
  <ion-card>

    <ion-card-header>
      Notice Board
    </ion-card-header>
    
    <ion-card-content *ngIf="Nstatus">

              <ion-list  *ngFor = "let item of notice.entries()" >
                  <ion-item>

                    <a href={{item[1]}} class = "a">{{item[0]}}</a>
                 
          
                  </ion-item>   
                  
                
                </ion-list>

      
    </ion-card-content>

  </ion-card>
  
  <!-- News and Events -->


  <ion-card>

      <ion-card-header>
        News and Events
      </ion-card-header>
  
      <ion-card-content *ngIf="Nestatus">
  
          <ion-list  *ngFor = "let item of news.entries()" >
              <ion-item>
  
                <a href={{item[1]}} class = "a">{{item[0]}}</a>
             
      
              </ion-item>   
              
            
            </ion-list>
  
  
  </ion-card-content>
  
    </ion-card>
  
  
  
   <!-- Tenders -->


   <ion-card >

      <ion-card-header>
        Tenders
      </ion-card-header>
  
      <ion-card-content *ngIf="Tstatus">
  
          <ion-list  *ngFor = "let item of tenders.entries()" >
              <ion-item>
  
                <a href={{item[1]}} class = "a">{{item[0]}}</a>
             
      
              </ion-item>   
              
            
            </ion-list>
  
  
  </ion-card-content>
  
    </ion-card>


  <!-- Recruitment -->


  <ion-card >

      <ion-card-header>
        Recruitments
      </ion-card-header>
  
      <ion-card-content *ngIf="Rstatus">
  
          <ion-list  *ngFor = "let item of recruit.entries()" >
              <ion-item>
  
                <a href={{item[1]}} class = "a">{{item[0]}}</a>
             
      
              </ion-item>   
              
            
            </ion-list>
  
  
  </ion-card-content>
  
    </ion-card>


  <!-- Upcoming Events -->
  

  <ion-card (click)="start()">

    <ion-card-header>
      Upcoming Events
    </ion-card-header>

    <ion-card-content>
       Uploading ...
    </ion-card-content>

  </ion-card>


  <!-- Important Links -->


  <ion-card (click)="start()">

    <ion-card-header>
      Important Links
    </ion-card-header>

    <ion-card-content>
        Uploading ...
    </ion-card-content>

  </ion-card>


  <!-- Farmer's Corner -->


  <ion-card (click)="start()">

    <ion-card-header>
      Farmer's Corner
    </ion-card-header>

    <ion-card-content>
        Uploading ...
    </ion-card-content>

  </ion-card>


</ion-content>