<ion-header>
  <ion-navbar>
    <ion-title>Publications</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="research_content" text-wrap>
  <ion-spinner class="spinnerCenter" *ngIf="!Rstatus"></ion-spinner>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="h5">NRCL - Research Papers :</ion-card-title>
    </ion-card-header>

    <ion-card-content *ngFor="let a of research_name; let i = index">
      <ion-item *ngIf="Rstatus" (click)="showList(i)">
        {{ a }}
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
